.body{
  font-style:normal;

}


.header{
    display: flex;
    flex-direction: row;
    -ms-flex-align: center;

    width: 100%;
    background: #25B33f;
    margin-left: 0px;

    font-family: "Times New Roman";

}
.header-title{
    width: 20%;
    vertical-align: baseline;
    text-align: center;
    font-size: 20px;
}
.header-menu{
    width: 60%;
    list-style-type:none;
    text-align: center;
    vertical-align: baseline;
    padding: 30px 15px;
    font-size: 20px;
}
.header-search{
    width: 20%;
    text-align: center;
    font-size: 20px;
    vertical-align: baseline;
    padding-top: 3%;
}

ul{
  vertical-align: middle;

}


ul li {
display:inline;
vertical-align: middle;
padding: 20px;
vertical-align: baseline;
text-align: center;
background:#25B33f;


}



input{
  font-size: 16px;
  vertical-align: middle;
  padding-top: 3%;
  border-color: black;
  border-radius: 10px;
}
